.header{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: orangered;
    box-shadow: 5px 10px #888888;
}
.header img{
width: 100px;
}
.header a{
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: bolder;
}
